.pointer
{
    cursor: pointer;
}

.box
{
    padding:240px;
    text-align: center;
    .title
    {
        font-size: 24px;
        color:rgb(141, 202, 252);
    }

    .lang
    {
        margin-top: 20px;
    }
}